.cart-section {
    display: flex;
}


.cart-resume {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
    height: 220px;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
}

.product-price {
    width: 100%;
    text-align: right;
}


/* RESUME */
.cart-resume {
    width: 340px;
    flex-direction: column;
}

.cart-data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-title {
    display: flex;
    justify-content: space-between;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-tax {
    padding-bottom: 10px;
}

.cart-btn {
    width: 100%;
    background: #ff3b3c;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
}

.cart-btn:hover {
    background: #ff5151;
}