.not-found-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.not-found-p {
    font-size: 20px;
    font-weight: bold;
    color: #7525a7;
}
.not-found-button {
    background-color: #ff3b3c;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 80%;
    margin-top: 20px;
    transition: all 0.3s;
}
.not-found-button:hover {
    background-color: #d63333;
    transform: scale(1.1);
}